<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Denis Kudia">

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="http://StaticWeb/bootstrap/css/bootstrap.min.css">

        <style>
            .row_first {
                margin-top: 10px;
                margin-bottom: 10px;
                font-size: 4em;
                color:dodgerblue;
            }

            .row_links {
                margin-bottom: 10px;
                text-align: center;
                font-size: 2em;
            }

            .row_links_font {
                font-size: 1.2em;
                /*background-color: lightblue;*/
            }

            .col {
                background-color: lightblue;
            }

            .row_data_current {
                margin-bottom: 10px;
                font-size: 1.5em;
            }

            .text_center {
                text-align: center;
            }

            .my_col {
                background-color: lightblue;
            }

            .my_col_last {
                background-color: lightblue;
            }

            .my_col_data {
                background-color: lightblue;
            }

            .my_col_data_last {
                background-color: lightblue;
            }

        </style>

    </head>

    <body>
        <div class="container">
            <div class="row row_first align-items-center">
                <div class="col text_center">
                        <span>Status</span>
                </div>
            </div>

            <div class="row row_links align-items-center">
                <div class="col-sm my_col">
                    <a href="status.html">status</a>
                </div>
                <div class="col-sm my_col">
                    <a href="default.html">current measurement</a>
                </div>
                <div class="col-sm my_col_last">
                    <a href="graph.html">measurements</a>
                </div>
            </div>

            <div class="row row_data_current align-items-center">
                <div class="col-sm my_col_data">
                    <span>Network information: <!--{NetInfo}--></span>
                </div>
                <div class="col-sm my_col_data_last">
                    <span>Up time: <!--{Uptime}--></span>
                </div>
            </div>
            </div>
    </body>
</html>